<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="../static/game.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <meta charset="utf-8">

</head>

 <body class="game-body">

<div class="game-container">
  <h1 class="game-name">Tic - Tac - Toe</h1>
  <div class="result" id="result"></div>
  <button type="text" class="boxes" id="b1"></button>
  <button type="text" class="boxes" id="b2"></button>
  <button type="text" class="boxes" id="b3"></button>
  <button type="text" class="boxes" id="b4"></button>
  <button type="text" class="boxes" id="b5"></button>
  <button type="text" class="boxes" id="b6"></button>
  <button type="text" class="boxes" id="b7"></button>
  <button type="text" class="boxes" id="b8"></button>
  <button type="text" class="boxes" id="b9"></button>
  <button type="text" class="reset" id="reset" onclick="reset_board()">RESET</button>



</div>

  <script src="../script/game.js"></script>
</body>





</html>
